export SOPS_AGE_KEY_FILE=~/.sops/keys.txt
export ANSIBLE_CONFIG=.ansible.cfg
export ANSIBLE_PRIVATE_KEY_FILE=/Users/heinrich/.ssh/id_ed25519_ansible
#eval "$(ssh-agent -s)"
#ssh-add ~/.ssh/id_ed25519_ansible
