# Secrets
*.pub
*.key
*.decrypted~*.yaml
*.decrypted~*.env
**/secrets.env
**/*secrets.env
.sops.tmp*

# Kubernetes & Tools
kubeconfig
talosconfig
.kube/
.talos/

# Misc.
.private/
.task/
.venv/
.DS_Store
Thumbs.db
.history/